# Add requirements only needed for your unittests and during development here.
# They will be installed automatically when running `python setup.py test`.
# ATTENTION: Don't remove pytest-cov and pytest as they are needed.
coverage-badge
faker
lxml
mock
mypy
pylama
pylama_pylint
black
pytest==6.0.2
pytest-black
pytest-cov
pytest-isort
pytest-logging
pytest-mock
sphinx >= 1.8.0
pytest-datadir
pytest-timeout
sphinx_rtd_theme 